QACinemas/target/
QACinemas/pom.xml.tag
QACinemas/pom.xml.releaseBackup
QACinemas/pom.xml.versionsBackup
QACinemas/pom.xml.next
QACinemas/release.properties
QACinemas/dependency-reduced-pom.xml
QACinemas/buildNumber.properties
QACinemas/.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
QACinemas/!/.mvn/wrapper/maven-wrapper.jar

#Eclipse
QACinemas/.settings
QACinemas/.classpath
QACinemas/.project