QAProject/target/
QAProject/pom.xml.tag
QAProject/pom.xml.releaseBackup
QAProject/pom.xml.versionsBackup
QAProject/pom.xml.next
QAProject/release.properties
QAProject/dependency-reduced-pom.xml
QAProject/buildNumber.properties
QAProject/.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
QACinemas/!/.mvn/wrapper/maven-wrapper.jar

#Eclipse
QAProject/.settings
QAProject/.classpath
QAProject/.project